html, body{
    margin: 0;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
}

h1{
    color: chocolate; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 20%;
    background: linear-gradient(to right, coral, aqua);
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 80%;
    background-color: aquamarine;
}


.tableau{
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.case{
    height: 50px;
    width: 50px;
    border: 2px solid coral;
    background: linear-gradient(coral, aqua);
    border-radius: 15%;
    margin: 5px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: olivedrab;
    background-color: ghostwhite;
    border-style: outset;
}

.answer{
    grid-column: 2;
    display: flex;
    align-items: first baseline;
    justify-content: center;
    margin: 0;
    border-style: none;
}

#reponse{
    padding: 10px;
    border-radius: 10%;
    margin-right: 5px;
    border-style: none;
    
}

#go{
    padding: 10px;
    background-color: coral;
    border-radius: 10%;
    cursor: pointer;
}

#reponse:focus-visible{
    outline-style: none;
}

